---
import Section from '@/components/Section.astro';
import Base from '@/layouts/Base.astro';
import { AppConfig } from '@/utils/AppConfig';

const { title } = AppConfig;
const { description } = AppConfig;
---

<Base head={{ title, description }}>
	<Section>
		<div class="text-sm">
			<h1 class="pt-6 text-4xl">Imprint</h1>

			<p class="pb-4 pt-10 text-lg font-bold">Information:</p>
			<p>Ankur Dutta</p>
			<p>C.V.Raman Nagar, Bengaluru</p>
			<p>Karnataka-560093</p>
			<p>India</p>

			<p class="pb-4 pt-10 text-lg font-bold">Contact</p>
			<p>E-Mail: <a href="mailto:me@bloodred17.dev">me@bloodred17.dev</a></p>
			<p>
				Internet-Adress: <a class="underline" href="https://bloodred17.dev/">bloodred17.dev</a>
			</p>

			<p class="pb-4 pt-10 text-lg font-bold">Editorially Responsible</p>
			<p>See Information</p>

			<p class="pb-4 pt-10 text-lg font-bold">Graphics and images</p>
			<p>Unless specified differently, Ankur Dutta is the creator of all graphics and images.</p>

			<p class="pt-10 text-lg font-bold">Disclaimer</p>
			<p class="pb-4 pt-10 text-base font-bold">Liability for content</p>

			<p>
				All content on our website has been created with the utmost care and to the best of my
				knowledge. However, I cannot guarantee the accuracy, completeness, and timeliness of the
				content. As a service provider, I am responsible for our own content on these pages.
				Obligations to remove or block the use of
				information under general law remain unaffected by this.
			</p>
			<p>
				However, liability in this regard is only possible from the time of knowledge of a specific
				legal violation. Upon becoming aware of such legal violations, we will remove this content
				immediately.
			</p>

			<p class="pb-4 pt-10 text-base font-bold">Limitation of liability for external links</p>
			<p>
				Our website contains links to external websites of third parties. We have no influence on
				the content of these directly or indirectly linked websites. Therefore, we cannot assume any
				liability for the "external links." The respective provider or operator (author) of the
				pages is responsible for the content of the external links.
			</p>
			<p>
				If we become aware of legal violations, the external links will be removed by us
				immediately.
			</p>

			<p class="pb-4 pt-10 text-base font-bold">Copyright</p>
			<p>
				© 2024 BloodRed17. All rights reserved. Unauthorized use and/or duplication of this material without express and written permission from this site’s author and/or owner is strictly prohibited.
			</p>
		</div>
	</Section>
</Base>
